@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide all scrollbars but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
